

.page-wrap {
  padding-top: 400px;
  z-index:3;
  
  -ms-touch-action: pan-y;
  -ms-overflow-style: none !important;
  width: 1000px; // required for H scrolling
}

.input {
  position: absolute;
  z-index:1;
  size:180px;
  transform: translateX(268px)
translateY(154px)

}

.left{
  position: absolute;
  z-index:1; 
}

.right{
  position: absolute;
  z-index:1;
  transform: translateX(-235px);
}


.bottom{
  -ms-transform: rotate(7deg); /* IE 9 */
   transform: translateX(-885px);
  padding-top: 825px;
  position:absolute;
  z-index:-2;
  position-r00
}




.horizontal-slide {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(262px);
}

.horizontal-slide .item {
  display: inline-block;
  float: none;


}

.item { 
  font-family: calibri;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 50px;
  margin: 4px;
  background-color: #7BB368;
  display: inline-block;
  line-height: 50px;

}

.item.selected {
  background-color: red !important;
}


#recipeText {
  width: 349px;
  height: 300px;
  font-size: 32px;
  
}

.query {
  transform: translateX(268px)
}

